{% extends 'index.html' %}
{% block ContenidoVariable1 %}
<h2>{{title}}</h2>
<p>Tengo 31 años de los cuales 6 de ellos llevo ejerciendo la ingenieria civil. 
    Tengo amor por la programación desde que cursé Visual Basic en la facultad y más tarde aprendí a elaborar hojas de cálculo en Excel.</p>
    <p>Tengo años procastinando el avance al estudio de lenguajes de programación más elaborados, pero una crisis vocacional comenzó finalmente mi camino cómo programador,
    primero aprendiendo por mi cuenta y luego complementando con un curso que me permitió desarrollar las competencias para hacer esta página que es la envidia de cualquier
    Front-end Senior.
    </p>
{% endblock ContenidoVariable1 %}
{% block ContenidoVariable2 %}
<h1>Gabriel Zapata</h1>
{% endblock ContenidoVariable2 %}