{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>{{title}}</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'Lectura/css/bootstrap.css' %}" />

  <!-- Custom styles for this template -->
  <link href="{% static 'Lectura/css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'Lectura/css/responsive.css' %}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand" href={% url 'about_me' %}>
            <img src="images/logo.png" alt="" />
            <span>
              Acerca del autor
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href={% url 'home' %}>Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'abandonados' %}> Abandonados </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'leidos' %}> Leidos </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'leyendo' %}> Leyendo </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'por_leer' %}>Por leer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'busqueda' %}>Búsqueda</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'login' %}>Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href={% url 'logout' %}>Cerrar Sesión</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- hero section -->
    <section class="hero_section">
      <div class="hero_detail">
          <h2>
          Registro de lecturas  
          </h2>
          {% block ContenidoVariable1 %}
              {% endblock ContenidoVariable1 %}
    </section>
    <!-- end hero section -->
  </div>
  <!-- end hero area -->
    <!-- product section -->
    <section class="product_section layout_padding">
      <div class="d-flex justify-content-center">
          {% block ContenidoVariable2 %}
              {% endblock ContenidoVariable2 %}
      </div>
      <div class="container layout_padding2">
        <div class="img-box box-1">
          <img src="images/p-1.jpg" alt="">
        </div>
        <div class="img-box box-2">
          <img src="images/p-2.jpg" alt="">
        </div>
        <div class="img-box box-3">
          <img src="images/p-3.jpg" alt="">
        </div>
        <div class="img-box box-4">
          <img src="images/p-4.jpg" alt="">
        </div>
      </div>
    </section>
    
 <!-- contact section -->

 <section class="contact_section layout_padding">
  <div class="container">
    <div class="col-md-6">
      <div class="d-flex mb-4 ml-4 ml-md-0">
        {% block ContenidoVariable4 %}
        {% endblock ContenidoVariable4 %}
        </div>
      </form>
    </div>
  </div>

</section>

<!-- end contact section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
</body>

</html>